@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Banner Style Section */
header {
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
    border-radius: 16px;
    height: 600px;
    text-align: center;
    font-family: Merriweather;
    color: #fff;
    max-width: 1320px;
    width: 100%;
    margin: 50px auto;
}

header .banner-title {
    padding-top: 177px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header .banner-text {
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 344px 177px;
}

/* Main Section Styles*/
/* Offer Section Styles */
#offer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1320px;
    width: 100%;
    margin: 50px auto;
}

#offer-section .offer-text {
    text-align: center;
    font-family: Inter;
}

#offer-section .offer-text .discount-amount {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    padding-top: 120px;
}

#offer-section .offer-text .discount-text {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-top: 48px;
}

#offer-section .offer-text .discount-category {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

#offer-section .off-img img {
    max-width: 802.9px;
    width: 100%;
    height: 500px;
    padding-top: 48px;
    padding-bottom: 120px;
}

/* Party Section Style */
#party-section {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    max-width: 1320px;
    width: 100%;
    margin: 50px auto;
}

#party-section .party-container {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    gap: 100px;
    margin: auto 126px;
    padding-top: 80px;
}

#party-section .party-container .party-text h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-bottom: 24px;
}

#party-section .party-container .party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 40px;
}

#party-section .party-container .party-text button {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
}

/* Location and Date Section Style */
#location-date-section {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
    height: 482px;
    margin: 120px auto;
    font-family: Inter;
    max-width: 1320px;
    width: 100%;
    margin: 50px auto;
}

#location-date-section .location-date-div {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    text-align: center;
}

#location-date-section .location-date-div .location-date-text {
    padding-bottom: 64px;
}

#location-date-section .location-date-div .location-date-text h2 {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
}

#location-date-section .location-date-div .location-date-text h2 span {
    color: #F00;
    font-size: 32px;
    font-weight: 600;
}

#location-date-section .location-date-div .location-date-btn button {
    background-color: #F00;
    padding: 16px 32px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Coming Soon Section Styles */
#coming-soon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 120px;
    max-width: 1320px;
    width: 100%;
    margin: 50px auto;
}

#coming-soon .title h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

#coming-soon .title h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 20px;
}

#coming-soon .title p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    max-width: 393px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
}

#coming-soon .img {
    border-radius: 365px;
    border: 15px solid red;
    padding: 25px;
}

#coming-soon .year h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

#coming-soon .year p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    max-width: 276px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}

#coming-soon .year img {
    width: 140px;
    height: 140px;
}

/* Holiday Section Styles */
#holiday-section {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1320px;
    width: 100%;
    margin: 50px auto;
}

#holiday-section h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

#holiday-section h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    padding: 28px 0px;
}

#holiday-section h2 span {
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

#holiday-section p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    max-width: 1068px;
    width: 100%;
    text-align: center;
}

#holiday-section .holiday-photo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1320px;
    width: 100%;
    gap: 20px;
}

.holiday-photo .first-img {
    position: relative;
    width: 40%;
    top: 240px;
    left: 0px;
    z-index: 3;
}

.holiday-photo .second-img {
    width: 40%;
    position: relative;
    left: 150px;
    z-index: 2;
}

.holiday-photo .third-img {
    width: 40%;
    position: relative;
    top: 6px;
    z-index: 1;
}

#holiday-section .fourth-img {
    max-width: 1320px;
    width: 100%;
    height: 229px;
}

/* Portfolio Section Styles */
#portfolio {
    margin-top: 120px;
    max-width: 1320px;
    width: 100%;
    margin: 50px auto;
}

#portfolio .portfolio-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#portfolio .portfolio-text h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

#portfolio .portfolio-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding: 16px 0px;
}

#portfolio .portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    max-width: 896px;
    width: 100%;
}

#portfolio .portfolio-img {
    padding-top: 48px;
    border-radius: 16px;
    max-width: 345px;
    width: 100%;
    height: 369px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/* Newsletter Section Styles */
#newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding-top: 80px;
    text-align: center;
    padding-bottom: 110px;
    margin-bottom: 120px;
    max-width: 1320px;
    width: 100%;
    margin: 680px auto 0px;
}

#newsletter .newsletter-img {
    padding-bottom: 40px;
}

#newsletter .newsletter-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

#newsletter .newsletter-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-top: 22px;
    padding-bottom: 48px;
}

#newsletter .newsletter-form .input-text {
    max-width: 648px;
    width: 100%;
    height: 72px;
    border-radius: 50px 0px 0px 50px;
    border: none;

}

#newsletter .newsletter-form .input-btn {
    max-width: 210px;
    width: 100%;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    border: none;
    background: #F00;
}

#newsletter .newsletter-form input[type=email] {
    padding-left: 20px;
    background: #FFF;
}

/* Footer Section Style */
footer {
    background: #070211;
    ;
    max-width: 1600px;
    width: 100%;
    height: 609px;
    margin: 50px auto;
    padding: 120px 140px;
}

footer .footer-address {
    color: #FFF;
    width: 100%;
    padding-top: 100px;
}

footer .footer-address .address-text {
    display: flex;
    justify-content: space-between;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 50px
}

footer .footer-socialmedia {
    padding-top: 50px;
}

footer .footer-socialmedia ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    ;
}

footer .footer-rights {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}